.parrafo1 {
  color: black;
  font-size: 15px;
  background-color: #BB9457; }

.parrafo2 {
  color: black;
  font-size: 15px;
  background-color: #BB9457; }

.parrafo3 {
  color: black;
  font-size: 15px;
  background-color: #BB9457; }

.parrafo4 {
  color: black;
  font-size: 15px;
  background-color: #BB9457; }

.visitaMendoza, .tierraSol {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center; }

.tierraSol {
  font-size: 1rem; }

.quienesSomos {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  text-align: center;
  color: white; }

.inicio {
  background-image: url(../imagenes/imagenfondo.jpg);
  background-size: cover; }

.tamlogo {
  width: 80px;
  margin-left: 50px;
  margin-top: 10px; }

.navbar {
  background-image: linear-gradient(to top, #66605F, #BB9457); }

.titulo {
  color: #f5dfbb;
  text-align: center;
  margin-left: 100px;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #6F1D1B; }

.fuentes {
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: beige; }

.container-fluid0 {
  max-width: 100%; }
  .container-fluid0 .row {
    align-items: center;
    margin-bottom: 600px; }
    .container-fluid0 .row img {
      max-width: 100%;
      align-items: center;
      display: flex;
      flex-wrap: wrap; }

.lugar {
  font-size: 1rem;
  text-transform: none;
  text-align: justify;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  border-radius: 2px solid #948b89;
  padding: 10px;
  background-color: #BB9457; }

.sub {
  font-size: 1,5rem;
  text-transform: none;
  text-align: justify;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  border-radius: 2px solid #948b89;
  padding: 10px;
  background-color: #BB9457;
  color: #f5dfbb; }

a {
  text-decoration: none;
  color: #f5dfbb;
  font-weight: bold; }

.botonWhatsApp img {
  width: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px; }

footer {
  background-image: linear-gradient(to top, #66605F, #BB9457);
  max-width: 100%; }
  footer p {
    background-color: #948b89;
    font-size: 1rem;
    text-align: left;
    width: 100%;
    height: 50px; }

.iconos {
  width: 25px;
  height: 25px; }

/*tipos de excursiones*/
.container-fluid img {
  max-width: 100%; }

.row {
  background-color: #f5dfbb; }

.titulo {
  color: #f5dfbb; }
  .titulo h2 {
    font-size: 1rem;
    color: #f5dfbb;
    text-transform: uppercase;
    text-align: center; }

.parrafo1 {
  font-size: 1rem;
  text-transform: none;
  text-align: justify;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px solid black;
  padding: 10px; }

.parrafo2 {
  font-size: 1rem;
  text-transform: none;
  text-align: justify;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px solid black;
  padding: 10px; }

.parrafo3 {
  font-size: 1rem;
  text-transform: none;
  text-align: justify;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-wrap: wrap;
  border-radius: 2px solid black;
  padding: 10px; }

.parrafo4 {
  font-size: 1rem;
  text-transform: none;
  text-align: justify;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-wrap: wrap;
  border-radius: 2px solid black;
  padding: 10px; }

.imagen1:hover {
  transform: scale(1.1);
  transition: 1s;
  opacity: 50; }

.imagen2:hover {
  transform: scale(1.1);
  transition: 1s;
  opacity: 50; }

.imagen3:hover {
  transform: scale(1.1);
  transition: 1s;
  opacity: 50; }

.imagen4:hover {
  transform: scale(1.1);
  transition: 1s;
  opacity: 50; }

.precio {
  font-size: 1rem;
  text-transform: none;
  text-align: justify;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  border-radius: 2px solid #948b89;
  padding: 10px;
  background-color: #BB9457; }

/*destinos turisticos*/
.container-fluid .row {
  background-color: #6F1D1B; }

.texto {
  color: #f5dfbb;
  background-color: #BB9457;
  font-size: 1rem;
  text-align: justify;
  font-family: "PT Sans", sans-serif;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  border-radius: 2px solid black;
  padding: 20px 30px 30px 50px;
  margin-top: 50px; }

.valor {
  background-color: #BB9457;
  font-size: 1rem;
  font-family: "PT Sans", sans-serif;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  text-align: left;
  padding: 20px 40px 30px 40px; }

/*reserva*/
.reserva {
  background-image: url(../imagenes/arturo-castaneyra-bfHZ85sFrEA-unsplash.jpg);
  background-size: cover; }

.formulario {
  max-width: 320px;
  height: auto;
  background-color: #948b89;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  color: white;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-wrap: wrap; }
  .formulario h2 {
    font-size: 1rem;
    color: #000; }

#nombre {
  width: 100%;
  background-color: #948b89;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  margin-left: 25px;
  margin-right: auto;
  border: 1px solid #f5dfbb;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  display: flex; }

#apellido {
  width: 100%;
  background-color: #948b89;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  border: 1px solid #f5dfbb;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  display: flex;
  margin-left: 30px; }

#correo {
  width: 100%;
  background-color: #948b89;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  border: 1px solid #f5dfbb;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  display: flex;
  margin-left: 30px;
  flex-wrap: wrap; }

#textarea {
  width: 100%;
  background-color: #948b89;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  border: 2px solid #f5dfbb;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  display: flex;
  margin-left: 30px;
  flex-wrap: wrap; }

.primero:focus {
  height: 35px;
  color: white;
  border: 2px solid #f5dfbb; }

.segundo:focus {
  height: 35px;
  color: white;
  border: 2px solid #f5dfbb; }

.primero {
  margin-left: 30px; }

.segundo {
  margin: left 30px; }

/*contactanos*/
.contactanos {
  background-image: url(../imagenes/fondocontacto.jpeg);
  background-size: cover; }

.redesSociales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1rem;
  margin-top: 50px;
  margin-bottom: 0; }

h2 {
  animation-name: texto;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  font-family: "PT Sans", sans-serif;
  display: flex;
  color: #f5dfbb;
  font-size: 1rem;
  margin-bottom: 50px; }

@keyframes texto {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

.mapa {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-wrap: wrap; }

.parrafo5 {
  font-size: 1rem;
  margin-bottom: 0px;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  border-radius: 2px solid black;
  padding: 10px; }
