@mixin titulos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    text-align: center;
    color: white;
}


.quienesSomos{
    @include titulos;

}