$color_1: #F5DFBB;
$color_2: beige;
$color_3: #000;
$color_4: white;
$color_5: brown;
$font-family_1: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$background-color_1: #948b89;
$background-color_2: #F5DFBB;

@import "maps";
@import "extend";
@import"mixin";


header {
	background-color: $background-color_1;
	width: 100%;
	height: 50%;
}
.tamlogo {
	width: 90px;
	margin-left: 50px;
}
.navbar {
	background-image: radial-gradient(#e96443,#904e95);
}
.titulo {
	color: $color_1;
}
.fuentes {
	font-family: $font-family_1;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	color: $color_2;
}
.colorBoton {
	background-color: $background-color_2;
}
h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 1rem;
	color: $color_3;
}
p {
	text-align: center;
	color: $color_3;
	font-size: 1.5rem;
	margin-top: 30px;
}
.card-img {
	height: calc( 100vh - 10px);
}
.nuestrahistoria {
	background-color: $background-color_2;
	text-align: center;
	font-size: 1,5rem;
	color: $color_4;
	margin: top 30px;
	max-height: 20%;
}
.parrafo {
	color: $color_3;
	font-size: 1rem;
}
.logo1 {
	width: 150px;
	height: 100px;
	margin-left: 10px;
	border: #F5DFBB;

	

    h1{ font-size: 1.5rem;
	text-align: center;
	text-transform: uppercase;
	color: $color_5;
}
.container-fluid {
	img {
		max-width: 100%;
	}
}
.row {
	background-color: $background-color_2;
}
h2 {
	font-size: 1rem;
	color: $color_5;
	text-transform: uppercase;
}
.parrafo1 {
	font-size: 1rem;
	text-transform: none;
	text-align: justify;
}
.parrafo2 {
	font-size: 1rem;
	text-transform: none;
	text-align: justify;
}
.parrafo3 {
	font-size: 1rem;
	text-transform: none;
	text-align: justify;
}
.parrafo4 {
	font-size: 1rem;
	text-transform: none;
	text-align: justify;


	/*tipos de excurisones*/
























}
/*reserva*/
}
.formulario{
	width: 400px;
	background-color: $background-color_1;
	padding: 30px;
	margin: auto;
	margin-top: 100px;
	border-radius: 4px;
	font-family: $font-family_1;
	color: white;
	box-shadow: 7px, 13px, 30px, #F5DFBB;
}


#nombre{
	width: 100%;
	background-color: $background-color_1;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 15px;
	border: 1px solid #F5DFBB;
	font-family: $font-family_1; 
	font-size: 15px;
}
#apellido{
	width: 100%;
	background-color:$background-color_1;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 15px;
	border: 1px solid #F5DFBB;
	font-family:$font-family_1; 
	font-size: 15px;

}
#correo{
	width: 100%;
	background-color:$background-color_1;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 15px;
	border: 1px solid #F5DFBB;
	font-family:$font-family_1; 
	font-size: 15px;

}
#textarea{

    width: 100%;
	background-color:$background-color_1;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 15px;
	border: 2px solid #F5DFBB;
	font-family:$font-family_1; 
	font-size: 15px;
}
.primero{

}