$color_1: #F5DFBB;
$color_2: beige;
$color_3: #000;
$color_4: white;
$color_5: brown;
$font-family_1: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$background-color_1: #948b89;
$background-color_2: #F5DFBB;

@import "maps";
@import "extend";
@import"mixin";


header {
	background-color: $background-color_1;
	width: 100%;
	height: 50%;
}
.tamlogo {
	width: 80px;
	margin-left: 50px;
}
.navbar {
	background-image: radial-gradient(#463207,#e9dfca);
	;
}
.titulo {
	color: $color_1;
}
.fuentes {
	font-family: $font-family_1;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	color: $color_2;
}
.colorBoton {
	background-color: $background-color_2;
}
h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 1rem;
	color: $color_3;
}
p {
	text-align: center;
	color: $color_3;
	font-size: 1.5rem;
	margin-top: 30px;
}
.card-img {
	height: calc( 100vh - 100px);
}

.quienesSomos{
	background-color: $background-color_2;
	color: #000;
	margin-bottom: 20px;
	

}
.botonWhatsApp img{
	width: 50px;
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.parrafo6{
	background-color: $background-color_2;
	font-size: 1rem;
	margin-bottom: 100px;
	margin-bottom: 0px;
	margin-top: 0px;
	-webkit-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
	display: flex;
	flex-wrap: wrap;
	border-radius: 2px solid black;

}

.logo1 {
	width: 150px;
	height: 100px;
	margin-left: 10px;
	border: #F5DFBB;


      h1{ font-size: 1.5rem;
	  text-align: center;
	  text-transform: uppercase;
	  color: $color_5;
	  
}
}
#exampleModal{
	background-color: $background-color_2;
}
footer{
	background-image: radial-gradient(#463207,#e9dfca);

	width: 100%;
	padding: 0px 20px 0px 20px;
	margin-left: 10px;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;

	

	
		p{
		background-color: $background-color_1;
		font-size:1rem;
		text-align: left;
		width: 100%;
		height: 50px;
	
								
							
		}
}	
.iconos{
	width: 25px;
	height: 25px;
}


/*tipos de excursiones*/
.container-fluid {
	img {
		max-width: 100%;
	}
}
.row {
	background-color: $background-color_2;
}
h2 {
	font-size: 1rem;
	color: $color_5;
	text-transform: uppercase;
}
.parrafo1 {
	font-size: 1rem;
	text-transform: none;
	text-align: justify;
	-webkit-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
	display: flex;
	flex-wrap: wrap;
	border-radius: 2px solid black;

}
.parrafo2 {
	font-size: 1rem;
	text-transform: none;
	text-align: justify;
	-webkit-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
	display: flex;
	flex-wrap: wrap;
	border-radius: 2px solid black;

}
.parrafo3 {
	font-size: 1rem;
	text-transform: none;
	text-align: justify;
	-webkit-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
	display: flex;
	flex-wrap: wrap;
	border-radius: 2px solid black;

}
.parrafo4 {
	font-size: 1rem;
	text-transform: none;
	text-align: justify;
	-webkit-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
	display: flex;
	flex-wrap: wrap;
	border-radius: 2px solid $background-color_1;


	/*destinos turisticos*/
}
.texto{
	color: #948b89;
    margin-top: 100px;
	font-size: 1.5rem;
	font-family: $font-family_1;
	-webkit-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
	display: flex;
	flex-wrap: wrap;
	border-radius: 2px solid black;
}

.texto2{

    color: #948b89;
	font-size: 1.5rem;
	font-family: $font-family_1;
	-webkit-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 150px;

}
	


/*reserva*/

.formulario {
	max-width:320px;
	height: auto;
	background-color: $background-color_1;
	padding: 20px;
	margin: auto;
	margin-top: 100px;
	border-radius: 4px;
	font-family: $font-family_1;
	color: white;
	-webkit-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
	display: flex;
	flex-wrap: wrap;
	
	h2{
		font-size: 1rem;
		color: #000;
	}

	
	
}

     #nombre{
	   width: 100%;
	   background-color: $background-color_1;
	   padding: 10px;
	   border-radius: 4px;
	   margin-bottom: 15px;
	   margin-left: 25px;
	   margin-right: auto;
	   border: 1px solid #F5DFBB;
	   font-family: $font-family_1; 
	    font-size: 15px;
		display: flex;
	 }
         #apellido{
	       width: 100%;
	       background-color:$background-color_1;
	        padding: 10px;
	        border-radius: 4px;
	        margin-bottom: 15px;
	        border: 1px solid #F5DFBB;
	        font-family:$font-family_1; 
	        font-size: 15px;
			display: flex;
             margin-left: 30px;
		 }
              #correo{
	           width: 100%;
	            background-color:$background-color_1;
	            padding: 10px;
	            border-radius: 4px;
	            margin-bottom: 15px;
	            border: 1px solid #F5DFBB;
	            font-family:$font-family_1; 
	            font-size: 15px;
			    display: flex;
				margin-left: 30px;
				flex-wrap: wrap;
			  }

                   #textarea{

                    width: 100%;
	                background-color:$background-color_1;
	                padding: 10px;
	                border-radius: 4px;
	                 margin-bottom: 15px;
	                 border: 2px solid #F5DFBB;
	                 font-family:$font-family_1; 
	                 font-size: 15px;
					 display: flex;
					 margin-left: 30px;
					 flex-wrap: wrap;
					 
				   	 }	
						
						.primero:focus{
							height: 35px;
						    color: $color_4;	
						    border: 2px solid #F5DFBB;
							
									}	
						.segundo:focus{
							height: 35px;
							color: $color_4;
							border:   2px solid #F5DFBB;
							
						}	
						.primero{
							margin-left: 30px;
						}
						
									

	.reserva{
				background-image: url(../imagenes/hojas.jpg);
				background-size: 100vh w-10;
				background-repeat: no-repeat;
				flex-wrap: wrap;
				
	}							
								

					 
					 
/*contactanos*/

.redesSociales{

	         background-color: $background-color_2;
			 display: flex;
			 flex-direction: row;
			 flex-flow: nowrap;
			 justify-content: space-between;
			 
	     h2{
		    
		     font-family:$font-family_1;
		     font-size: 1rem;
			 display: flex;
			 align-items: flex-start;
			 color: #000;
			}
			

			 h3{
				text-align: center;
				font-family: $font-family_1;
				font-size: 1rem; 
				text-align: center;
				justify-content: flex-end;
				align-items: flex-end;}

				
				
			}

	
.visitanos{
	background-color: $background-color_1;
	font-size:1.5rem;
	text-align: left;
	text-transform: uppercase;
	text-align: center;
	font-family: $font-family_1;
	color: #000;

	p{	
		font-size: 1rem; 
	}
							

}
.mapa{
	display: flex;
	justify-content: center;
	background-color: $background-color_2;
	border-radius: 1px solid black;
}