$color_1: #f5dfbb;
$color_2: beige;
$color_3: #000;
$color_4: white;
$color_5: #6F1D1B;
$font-family_1: 'PT Sans', sans-serif;
$background-color_1: #948b89;
$background-color_2: #f5dfbb;

@import "maps";
@import "extend";
@import "mixin";


.inicio{
  background-image: url(../imagenes/imagenfondo.jpg);
  background-size: cover;
  
}



.tamlogo {
  width: 50px;
  margin-bottom: 10px;
  margin-top: 0;
  margin-left: 10px;
  
}
.navbar {
  background-image: linear-gradient(to top,#BB9457 ,#beac8e);
  
}
.titulo {
  color: $color_1;
  text-align: center;
  margin-left: 100px;
  font-size: 1.5rem;   
   text-transform: uppercase;
  
  }

.fuentes {
  font-family: $font-family_1;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: $color_2;
 
}



.container-fluid0 {
 
 max-width: 100%;
  .row0 {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    
    
   
    img {
    max-width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
   
   
  }
  }

}



.lugar{
  font-size: 1rem;
  text-transform: none;
  text-align: justify;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  border-radius: 2px solid $background-color_1;
  padding: 10px;
  background-color: #BB9457;
  color: $color_4;
 
 }
.sub{
  font-size:1,5rem;
  text-transform: none;
  text-align: justify;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  border-radius: 2px solid $background-color_1;
  padding: 10px;
  background-color: #BB9457;
  color: $color_4;
  
  
  


}

a{
  text-decoration: none;
  color: $color_1;
  font-weight: bold;
}
.botonWhatsApp img {
  width: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}


footer {
  background-image: linear-gradient(to top,#BB9457 ,#beac8e);
  max-width: 100%;
  

   .empresa{
    color: #000;
   }
}




/*tipos de excursiones*/
.container-fluid {
  img {
    max-width: 100%;
  }



       h2 {
            font-size: 1rem;
            color:$color_1;
            text-transform: uppercase;
            text-align: center;
}
}
.parrafo1 {
  font-size: 1rem;
  text-transform: none;
  text-align: justify;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(7, 7, 7, 0.75);
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px solid black;
  padding: 10px;
  
  
  
}

.parrafo2 {
  font-size: 1rem;
  text-transform: none;
  text-align: justify;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px solid black;
  padding: 10px;
}
.parrafo3 {
  font-size: 1rem;
  text-transform: none;
  text-align: justify;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-wrap: wrap;
  border-radius: 2px solid black;
  padding: 10px;
}
.parrafo4 {
  font-size: 1rem;
  text-transform: none;
  text-align: justify;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-wrap: wrap;
  border-radius: 2px solid black;
  padding: 10px;
}
.imagen1:hover {
  transform: scale(1.1);
  transition: 1s;
  opacity: 50;
}
  
.imagen2:hover {
  transform: scale(1.1);
  transition: 1s;
  opacity: 50;
}

  .imagen3:hover {
    transform: scale(1.1);
    transition: 1s;
    opacity: 50;
  }
    .imagen4:hover {
      transform: scale(1.1);
      transition: 1s;
      opacity: 50;
    }

.precio {
  font-size: 1rem;
  text-transform: none;
  text-align: justify;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  border-radius: 2px solid $background-color_1;
  padding: 10px;
  background-color: #BB9457;

}

/*destinos turisticos*/

.container-fluid .row{
  background-color: #6F1D1B
}

.texto{
	
  color: $color_4;
  background-color: #BB9457;
  font-size: 1rem;
  text-align: justify;
  font-family: $font-family_1;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  border-radius: 2px solid black;
  padding: 20px 30px 30px 50px;
  margin-top: 50px;
  
}


.valor {
  background-color: #BB9457;
  color: $color_4;
  font-size: 1rem;
  font-family: $font-family_1;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  text-align: left;
  padding: 20px 40px 30px 40px;
}


/*reserva*/

.reserva {
  background-image: url(../imagenes/fondoReserva.jpg);
  background-size: cover;
}

.formulario {
  max-width: 320px;
  height: auto;
  background-color: #BB9457;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: $font-family_1;
  color: white;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-wrap: wrap;

  h2 {
    font-size: 1rem;
    color: #000;
  }
}

#nombre {
  width: 100%;
  background-color: $background-color_2;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  margin-left: 25px;
  margin-right: auto;
  border: 1px solid #f5dfbb;
  font-family: $font-family_1;
  font-size: 15px;
  display: flex;
}
#apellido {
  width: 100%;
  background-color: $background-color_2;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  border: 1px solid #f5dfbb;
  font-family: $font-family_1;
  font-size: 15px;
  display: flex;
  margin-left: 30px;
}
#correo {
  width: 100%;
  background-color: $background-color_2;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  border: 1px solid #f5dfbb;
  font-family: $font-family_1;
  font-size: 15px;
  display: flex;
  margin-left: 30px;
  flex-wrap: wrap;
}

#textarea {
  width: 100%;
  background-color: $background-color_2;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  border: 2px solid #f5dfbb;
  font-family: $font-family_1;
  font-size: 15px;
  display: flex;
  margin-left: 30px;
  flex-wrap: wrap;
}

.primero:focus {
  height: 35px;
  color: $color_4;
  border: 2px solid #f5dfbb;
}
.segundo:focus {
  height: 35px;
  color: $color_4;
  border: 2px solid #f5dfbb;
}
.primero {
  margin-left: 30px;
}
.segundo {
  margin: left 30px;
}



/*contactanos*/
.contactanos {
  background-image: url(../imagenes/fondocontacto.jpeg);
  background-size: cover;
}


.redesSociales {
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1rem;
  margin-top: 50px;
  margin-bottom: 0;
}

h2 {
  animation-name: texto;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  font-family: $font-family_1;
  display: flex;
  color: #000;
  font-size: 1rem;
  margin-bottom: 50px;
}
@keyframes texto{
  0%{
    opacity: 0;
  }
  100%{
    opacity:100% ;
  }
}

.mapa {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-wrap: wrap;
}


.parrafo5 {
  font-size: 1rem;
  margin-bottom: 0px;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  border-radius: 2px solid black;
  padding: 10px;
  
}